.main-frame {
  max-width: 140rem;
  padding: 6rem 26rem;
  margin-inline: auto;
}

.gray {
  background: var(--tix-white-30, #F7F7F7);
}

.h2-desktop {
  
  color: var(--Tix-Black, #272932);
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  margin-top: 0;
  margin-bottom: 4rem;
}

hr {
  width: 100%;
  border: #272932 1px solid;
  margin: 0;
}

/* neue css die global eingefügt werden muss */

.description-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue {
  color: var(--Tix-Blue, #008EDE);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */
  cursor: pointer;
}

[hidden] {
  display: none;
}
